COMPETITION_API_KEY=YOIUR_COMPETITION_API_KEY_HERE
BASE_URL=YOUR_BASE_URL_HERE

# 2. OpenAI API
OPENAI_API_KEY="YOUR_OPENAI_API_KEY_HERE"
# 3. Model & Token (Có thể điều chỉnh để test chi phí)
GPT_MODEL_NAME=gpt-5.3-chat-latest
MAX_TOKENS_PER_CHUNK=4000
MAX_RETRIES=3

# 4. Nhiệt độ Agents (Temperature)
TEMP_ROUTER=0.0
TEMP_EXTRACTOR=0.1
TEMP_SYNTHESIZER=0.3